* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 15px;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: #CB2797;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

#searchbutton {
  font-size: 2rem;
  color: #CB2797;
  background-color: rgb(255, 255, 255, 0);
  padding: 1rem;
  text-align: center;
  width: 2rem;
  margin-left: .2rem;
}

#topnav {
  font-size: 2rem;
  color: #CB2797;
  background-color: rgb(255, 255, 255, 0);
  width: 70px;
}

#logo {
  width: 100px;
}

#header {
  position: fixed;
  transition: top 0.3s;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100vw;
  height: 40px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

#navtitle {
  width: 80%;
}

#search {
  font-size: 1rem;
  background-color: #92C6E9;
  border-radius: 0.5em;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  width: 90%;
  
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#searchbutton {
  padding: 2px;
  width: 3%;
  margin-right: 3%;
  border-radius: 0.05em;
  font-size: 1.2em;
}

#searchbutton:hover {
  color: darkviolet;
}

#search-container {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: #CB2797;
  font-size: 1.2rem;
}

.input {
  width: 400px;
  height: 50px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  padding-left: 20px;
}

.sbutton {
  font-size: 1rem;
  color: whitesmoke;
  background-color: #CB2797;
  padding: 1rem;
  text-align: center;
  border-radius: .5rem;
}

.sbutton:hover {
  color: #CB2797;
  background-color: whitesmoke;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}