* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 15px;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: #CB2797;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

#searchbutton {
  font-size: 2rem;
  color: #CB2797;
  background-color: rgb(255, 255, 255, 0);
  padding: 1rem;
  text-align: center;
  width: 2rem;
  margin-left: .2rem;
}

#topnav {
  font-size: 2rem;
  color: #CB2797;
  background-color: rgb(255, 255, 255, 0);
  width: 70px;
}

#logo {
  width: 100px;
  padding-top: 10px;
}

#header {
  position: fixed;
  transition: top 0.3s;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100vw;
  height: 40px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

#navtitle {
  width: 80%;
}

#search {
  font-size: 1rem;
  background-color: #92C6E9;
  border-radius: 0.5em;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  width: 90%;
  
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#searchbutton {
  padding: 2px;
  width: 3%;
  margin-right: 3%;
  border-radius: 0.05em;
  font-size: 1.2em;
}

#searchbutton:hover {
  color: darkviolet;
}

#search-container {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: #CB2797;
  font-size: 1.2rem;
}

.input {
  width: 400px;
  height: 50px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  padding-left: 20px;
}

.hours {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  justify-content: flex-start;
}

.through {
  display: flex;
  width: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  height: 20px;
}

#day1, #day2 {
margin-bottom: 20px;
}

#day1, #day2, #time1, #time2 {
  width: 120px;
  margin-left: 0;
}

.hourslabel {
  width: 400px;
  height: 20px;
}

.sbutton {
  font-size: 1rem;
  color: whitesmoke;
  background-color: #CB2797;
  padding: 1rem;
  text-align: center;
  border-radius: .5rem;
}

.sbutton:hover {
  color: #CB2797;
  background-color: whitesmoke;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}


input[type="submit"] :disabled {
  background-color: gray;
}

.error {
  border-color: red;
}

.error-message {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: red;
  font-style: italic;
  margin-bottom: 1em;
}
/* End form validation styling */

/* Desktop view */
@media only screen and (min-width: 1025px) {

  h1 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  p {
    font-size: 1rem;
    margin: 0;
  }

  #search-container{
    width: 35%;
  }

  #button-container{
    width: 20%;
    justify-content: flex-end;
  }
}


/* Tablet view */
@media only screen and (min-width: 561px) and (max-width: 1024px) {

  h1 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  p {
    font-size: 1rem;
    margin: 0;
  }


  #search-container{
    width: 45%;
  }

  #button-container{
    width: 20%;
    justify-content: flex-end;
  }
}

/* Mobile view */
@media only screen and (max-width: 560px) {
 
  h1 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  p {
    font-size: 1rem;
    margin: 0;
  }

  #search-container{
    width: 50%;
  }

  #button-container{
    width: 20%;
    justify-content: flex-end;
  }

}