* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 15px;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px #E553CF;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

#searchbutton:hover {
  border: #EB74D8 solid 1px;
  text-shadow: 2px 2px #EB74D8;
  background-color: rgb(255, 255, 255, 0);
}

#header {
  position: fixed;
  transition: top 0.3s;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 40px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

#topnav {
  font-size: 2rem;
  color: #CB2797;
  background-color: rgb(255, 255, 255, 0);
  width: 70px;
}

#logo {
  width: 100px;
  padding-top: 10px;
}

.front-page-container {
  background: url(./united-nations-covid-19-response-vDs7KenVpw0-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

.fpitems-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3.33rem;
}

#searchbutton {
  font-size: 1.2em;
  color: white;
  background-color: #EB74D8;
  text-shadow: 2px 2px #02071D;
  padding: 1rem;
  text-align: center;
  border-radius: 0 .5rem .5rem 0;
  border: #EB74D8 solid 1px;
  height: 4rem;
  /* margin: 10px; */
}

/* Code below from: https://medium.com/hackernoon/removing-that-ugly-focus-ring-and-keeping-it-too-6c8727fefcd2 . This, along with the accompanying JS code will allow keyboard-only users to have the ring focus on for buttons. */

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

/* Desktop view */
@media only screen and (min-width: 1025px) {
  /* Front page */
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
  }

  .fpitems-container {
    width: 80%;
    text-align: center;
  }

  .searchbar {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: black;
    background-color: whitesmoke;
    max-width: 55rem;
    min-width: 45rem;
    height: 4rem;
    padding-left: 1rem;
    border-radius: .5rem 0 0 .5rem;
  }

  #search-container{
    width: 35%;
  }

  #button-container{
    width: 20%;
    justify-content: flex-end;
  }

/* Placeholder color code from w3schools:  https://www.w3schools.com/howto/howto_css_placeholder.asp*/
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
    opacity: 0.5; /* Firefox */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:  rgba(255, 255, 255, 0.5);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
  }

}


/* Tablet view */
@media only screen and (min-width: 561px) and (max-width: 1024px) {
  h1 {
    font-size: 2.2rem;
    margin-bottom: .8rem;
  }

  p {
    font-size: 1rem;
  }

  .front-page-container {
    background-size: cover;
  }

  .fpitems-container {
    width: 80%;
    text-align: center;
  }

  .searchbar {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    background-color:  whitesmoke;
    min-width: 25rem;
    max-width: 45rem;
    height: 4rem;
    padding-left: 1rem;
    border-radius: .5rem 0 0 .5rem;
  }

  #search-container{
    width: 45%;
  }

  #button-container{
    width: 20%;
    justify-content: flex-end;
  }

  /* Placeholder color code from w3schools:  https://www.w3schools.com/howto/howto_css_placeholder.asp*/
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
    opacity: 0.5; /* Firefox */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:  rgba(255, 255, 255, 0.5);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
  }

}

/* Mobile view */
@media only screen and (max-width: 560px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .front-page-container {
    background-size: cover;
  }

  .fpitems-container {
    width: 80%;
    text-align: center;
  }

  .searchbar {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    background-color:  whitesmoke;
    width: 20rem;
    height: 4rem;
    margin-top: 1rem;
    /* margin-left: 1.5rem; */
    margin-bottom: 0.5rem;
    margin-right: .2rem;
    padding-left: 1rem;
    border-radius: .5rem;
  }

  #search-container{
    width: 50%;
  }

  #button-container{
    width: 20%;
    justify-content: flex-end;
  }

  #searchbutton {
    width: 21rem;
    border-radius: .5rem;
  }

    /* Placeholder color code from w3schools:  https://www.w3schools.com/howto/howto_css_placeholder.asp*/
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #000000;
      opacity: 0.5; /* Firefox */
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      font-size: 1.2rem;
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:  rgba(255, 255, 255, 0.5);
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      font-size: 1.2rem;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: rgba(255, 255, 255, 0.5);
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      font-size: 1.2rem;
    }
}