* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 15px;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: #CB2797;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

#searchbutton {
  font-size: 2rem;
  color: #CB2797;
  background-color: rgb(255, 255, 255, 0);
  padding: 1rem;
  text-align: center;
  width: 2rem;
  margin-left: .2rem;
}

#topnav {
  font-size: 2rem;
  color: #CB2797;
  background-color: rgb(255, 255, 255, 0);
  width: 70px;
}

#logo {
  width: 100px;
  padding-top: 10px;
}

#header {
  position: fixed;
  transition: top 0.3s;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100vw;
  height: 40px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

#navtitle {
  width: 80%;
}

#search {
  font-size: 1rem;
  background-color: #92C6E9;
  border-radius: 0.5em;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  width: 90%;
  
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#searchbutton {
  padding: 2px;
  width: 3%;
  margin-right: 3%;
  border-radius: 0.05em;
  font-size: 1.2em;
}

#searchbutton:hover {
  color: darkviolet;
}

#search-container{
  display: flex;
  justify-content: center;
}

#sent {
  font-size: 1rem;
  color: whitesmoke;
  background-color: #CB2797;
  padding: 1rem;
  text-align: center;
  width: 5rem;
  border-radius: .5rem;
  float: right;
}

#sent:hover {
  cursor: pointer;
  color: #CB2797;
  background-color: whitesmoke;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#commentbox {
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 10px;
  border-radius: .5rem;
}

.text {
  margin: 0 5% 2% 5%;
}

.trashC {
  display: flex;
  margin: 30px;
  height: 40px;
  position: absolute;
  width: 40px;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.trashC:hover {
  color: #CB2797;
  cursor: pointer;
}

label {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: #CB2797;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .05rem;
}

.comment-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-comment-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Post delete styling start*/

.return-button {
  font-size: 1rem;
  color: whitesmoke;
  background-color: #CB2797;
  padding: 1rem;
  text-align: center;
  border-radius: .5rem;
  margin: 25px;
}

.return-button:hover {
  color: #CB2797;
  background-color: whitesmoke;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.post-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
}

.post-del-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

/* Post delete styling end*/

/* Comment card styling start*/

.posted-comments-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
  margin-bottom: 2rem;

}

.comment-area {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  padding: 2.5rem;
  margin: 1rem;
  width: 500px;
}

.comment-message {
  color: black;
}

.comments-title {
  border-top: solid #CB2797 0.75px;
  padding: 20px;
  width: 550px;
  text-align: center;
}

.thumbnail {
  background-size: cover;
}

/* Comment card styling end*/

/* Code below from: https://medium.com/hackernoon/removing-that-ugly-focus-ring-and-keeping-it-too-6c8727fefcd2 . This, along with the accompanying JS code will allow keyboard-only users to have the ring focus on for buttons. */

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

/* Desktop view */
@media only screen and (min-width: 1025px) {

  h1 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  p {
    font-size: 1rem;
    margin: 0;
  }

  .profile-page-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  .pitems-container {
    width: 100%;
  }

  .pitems {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* width: 70%; */
    margin: auto;
  }

  #search-container{
    width: 35%;
  }

  #button-container{
    width: 20%;
    justify-content: flex-end;
  }

  .cardLook {
    display: flex;
    position: relative;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    height: 400px;
    /* width: 90%; */
  }

  .thumbnail {
    width: 600px;
    border-radius: .5rem;
  }

  .text {
    align-self: center;
  }

  #commentbox {
    height: 100px;
  }

  .comment-container {
    margin-top: 20px;
    width: 100%;
    /* margin: auto; */
    padding-top: 40px;
  }

}


/* Tablet view */
@media only screen and (min-width: 561px) and (max-width: 1024px) {

  h1 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  p {
    font-size: 1rem;
    margin: 0;
  }

  .profile-page-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  .pitems-container {
    width: 100%;
  }

  .pitems {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* width: 70vw; */
    margin: auto;
  }

  .cardLook {
    display: flex;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    height: 350px;
    /* width: 100%; */
  }

  .thumbnail {
    width: 400px;
    border-radius: .5rem;
  }

  .text {
    align-self: center;
  }

  .comment-area {
    width: 400px;
  }

  #commentbox {
    height: 100px;
    width: 500px;
  }

  .comments-title {
    width: 400px;
    text-align: center;
  }

  .comment-container {
    margin-top: 20px;
    margin: auto;
    padding-top: 40px;
  }

  #search-container{
    width: 45%;
  }

  #button-container{
    width: 20%;
    justify-content: flex-end;
  }
}

/* Mobile view */
@media only screen and (max-width: 560px) {
 
  h1 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  p {
    font-size: 1rem;
    margin: 0;
  }

  .comment-area {
    width: 300px;
  }

  #commentbox {
    height: 100px;
    width: 400px;
  }

  .comments-title {
    width: 300px;
    text-align: center;
  }

  .profile-page-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .pitems-container {
    width: 100%;
  }

  .pitems {
    display: flex;
    align-items: flex-start;
  }

  .trashC{
    position: absolute;
    top: 8%;
    left: 0;
  }

  #search-container{
    width: 50%;
  }

  #button-container{
    width: 20%;
    justify-content: flex-end;
  }

  #sent {
    width: 420px;
  }

  .cardLook {
    width: 100vw;
  }

  .thumbnail {
    padding-top:100px;
    width: 100%;
    height: 33vh;
  }

  .comments {
    margin-top: 1.5rem;
  }

  .text {
    text-align: center;
  }

}