* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 15px;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: #CB2797;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}


button {
  font-size: 2rem;
  color: #CB2797;
  background-color: rgb(255, 255, 255, 0);
  padding: 1rem;
  text-align: center;
  width: 2rem;
  margin-left: .2rem;
}

#header {
  position: fixed;
  transition: top 0.3s;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100vw;
  height: 35px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

#topnav {
  width: 5%;
}

#navtitle {
  width: 80%;
}

#search {
  font-size: 1rem;
  background-color: #92C6E9;
  border-radius: 0.5em;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  width: 90%;
  
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3%;
}

#searchbutton {
  padding: 2px;
  width: 3%;
  margin-right: 3%;
  border-radius: 0.05em;
  font-size: 1.2em;
}

#searchbutton:hover {
  color: darkviolet;
}

#search-container{
  display: flex;
  justify-content: center;
}

/* Placeholder color code from w3schools:  https://www.w3schools.com/howto/howto_css_placeholder.asp*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000000;
  opacity: 0.5; /* Firefox */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  /* padding-left: 1rem; */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:  rgba(255, 255, 255, 0.5);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  /* padding-left: 1rem; */
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0, 255, 255, 0.5);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  /* padding-left: 1rem; */
}

/* Code below from: https://medium.com/hackernoon/removing-that-ugly-focus-ring-and-keeping-it-too-6c8727fefcd2 . This, along with the accompanying JS code will allow keyboard-only users to have the ring focus on for buttons. */

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

/* Desktop view */
@media only screen and (min-width: 1025px) {
  /* Front page */
  #search-container{
    width: 40%;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1rem;
  }

  .results-page-container {
    width: 80%;
    text-align: center;
  }


  #logo {
    margin-left: 1.5%;
    width: 9%;
  }

}


/* Tablet view */
@media only screen and (min-width: 561px) and (max-width: 1024px) {
  #search-container{
    width: 40%;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1rem;
  }

  .ritems-container {
    width: 70%;
    text-align: center;
  }

  #logo {
    width: 15%;
  }

}

/* Mobile view */
@media only screen and (max-width: 560px) {
 
  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }

  .ritems-container {
    width: 80%;
    text-align: center;
  }

  #logo {
    width: 20%;
  }

  #search-container{
    width: 35%;
  }

  #button-container{
    width: 20%;
    justify-content: flex-end;
  }

}