* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 15px;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: #CB2797;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

#searchbutton {
  font-size: 2rem;
  color: #CB2797;
  background-color: rgb(255, 255, 255, 0);
  padding: 1rem;
  text-align: center;
  width: 2rem;
  margin-left: .2rem;
}

#topnav {
  font-size: 2rem;
  color: #CB2797;
  background-color: rgb(255, 255, 255, 0);
  width: 70px;
}

#logo {
  width: 100px;
  padding-top: 10px;
}

#header {
  position: fixed;
  transition: top 0.3s;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100vw;
  height: 40px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

#navtitle {
  width: 80%;
}

#search {
  font-size: 1rem;
  background-color: #92C6E9;
  border-radius: 0.5em;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  width: 90%;
  
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#searchbutton {
  padding: 2px;
  width: 3%;
  margin-right: 3%;
  border-radius: 0.05em;
  font-size: 1.2em;
}

#searchbutton:hover {
  color: darkviolet;
}

#search-container {
  display: flex;
  justify-content: center;
}

.cardContainer {
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
}

.cardContainer:hover {
  cursor: pointer;
}

.thumbnail {
  border-radius: .5rem 0 0 .5rem;
  background-size: cover;
}

.results-page-container {
  float: right;
  background-color: #92C6E9;
}

/* No results section styling - appears if no results found in search bar*/
.add-place-button {
  font-size: 1rem;
  color: whitesmoke;
  background-color: #CB2797;
  padding: 1rem;
  text-align: center;
  border-radius: .5rem;
  margin: 25px;
}

.add-place-button:hover {
  color: #CB2797;
  background-color: whitesmoke;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.no-res-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
}

.no-results-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
/* End of no results section */

/* Code below from: https://medium.com/hackernoon/removing-that-ugly-focus-ring-and-keeping-it-too-6c8727fefcd2 . This, along with the accompanying JS code will allow keyboard-only users to have the ring focus on for buttons. */

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

/* Desktop view */
@media only screen and (min-width: 1025px) {
  #search-container{
    width: 35%;
  }

  h1 {
    font-size: 1.2rem;
    /* margin-top: 1rem; */
  }

  p {
    font-size: 1rem;
    margin: 0;
  }

  .results-page-container {
    width: 80vw;
    min-height: 100vh;
    margin-top: 60px;
  }

  #button-container{
    width: 20%;
    justify-content: flex-end;
  }

  .ritems-container {
    width: 50%;
    padding-top: 15px;
    margin: auto;
  }

  .cardContainer{
    margin: 20px 20px 20px 20px;
    background: white;
  }

  .cardContainer:hover {
    cursor: pointer;
  }

  .thumbnail {
    width: 45%;
    height: 25vh;
  }

  .textside{
    margin-left: 10%;
  }

  /* filter panel start */

.filter {
  width: 20vw;
  position: absolute;
  background-color: white;
}

.filter-container {
  width: 20vw;
  margin-top: 35vh;
  margin-left: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

#filter {
  font-size: 1rem;
  color: whitesmoke;
  background-color: #CB2797;
  padding: 1rem;
  text-align: center;
  width: 5rem;
  border-radius: .5rem;
  margin-left: 15px;
  margin-top: 20px;
}

#filter:hover {
  cursor: pointer;
  color: #CB2797;
  background-color: whitesmoke;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

/* filter panel end */

}


/* Tablet view */
@media only screen and (min-width: 561px) and (max-width: 1024px) {
  #search-container{
    width: 45%;
  }

  h1 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
    margin: 0;
  }

  .ritems-container {
    width: 70%;
    margin: auto;
  }

  .thumbnail {
    width: 45%;
    height: 30vh;
  }

  .cardContainer {
    margin: 20px;
    background: white;
  }

  .textside {
    margin-left: 20px;
  }

  .results-page-container {
    width: 80vw;
  }

  /* filter panel start */

.filter {
  width: 20vw;
  position: absolute;
  background-color: white;
}

.filter-container {
  width: 20vw;
  margin-top: 35vh;
  margin-left: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

#filter {
  font-size: 1rem;
  color: whitesmoke;
  background-color: #CB2797;
  padding: 1rem;
  text-align: center;
  width: 5rem;
  border-radius: .5rem;
  margin-left: 15px;
  margin-top: 20px;
}

#filter:hover {
  cursor: pointer;
  color: #CB2797;
  background-color: whitesmoke;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

/* filter panel end */
}

/* Mobile view */
@media only screen and (max-width: 560px) {
 
  h1 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
    margin: 0;
  }

  .results-page-container{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    width: 100%;
  }

  .ritems-container {
    width: 90%;
  }

  #search-container{
    width: 50%;
  }

  #button-container{
    width: 20%;
    justify-content: flex-end;
  }

  .cardContainer{
    margin: 20px;
    background: white;
  }

  .thumbnail {
    width: 45%;
    height: 20vh;
  }

  .textside {
    text-align: left;
    margin-left: 20px;
  }

  /* filter panel start */

.filter {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 15vh;
}

.filter-container {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-align: center;
}

#filter {
  font-size: 1rem;
  color: whitesmoke;
  background-color: #CB2797;
  padding: 1rem;
  text-align: center;
  width: 5rem;
  border-radius: .5rem;
  margin-left: 15px;
  margin-top: 20px;
}

#filter:hover {
  cursor: pointer;
  color: #CB2797;
  background-color: whitesmoke;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

/* filter panel end */

}